
<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>

      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="button">
        <button type="submit" color="primary" mat-raised-button style="background-color: black; color: white;">Login</button>
      </div>

      <div class="button">
        <button type="submit" mat-button routerLink="/cadastro">Ainda não é membro? Clique aqui!</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
