/* You can add global styles to this file, and also import other style files */

body{
  background-image: url('https://www.fundospaisagens.com/Imagens/wallpapers-romanticos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
